<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="org.tvbrowser.permission.BIND_PLUGIN" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnigmaBridge"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TimerListActivity"
            android:label="@string/label_scheduled_timers" />

        <activity
            android:name=".RecordingSettingsActivity"
            android:label="@string/title_recording_settings"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".EditTimerActivity"
            android:label="@string/title_edit_schedule"
            android:parentActivityName=".TimerListActivity" />

        <activity
            android:name=".AdvancedScheduleActivity"
            android:theme="@style/Theme.EnigmaBridge.Dialog"
            android:label="@string/title_advanced_schedule"
            android:taskAffinity=""
            android:excludeFromRecents="true"/>

        <service
            android:name=".RecordService"
            android:exported="true"
            android:label="1"
            android:permission="org.tvbrowser.permission.BIND_PLUGIN">
            <intent-filter>
                <action android:name="org.tvbrowser.intent.action.PLUGIN" />
            </intent-filter>
        </service>

    </application>

    <queries>
        <package android:name="org.tvbrowser.tvbrowser" />
    </queries>

</manifest>
