<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="org.tvbrowser.permission.BIND_PLUGIN" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    

    <application
        android:name=".core.EnigmaBridgeApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnigmaBridge"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Activities -->
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".timer.TimerListActivity"
            android:label="@string/label_scheduled_timers" />

        <activity
            android:name=".receiversettings.ReceiverSettingsActivity"
            android:label="ReceiverSettings"
            android:parentActivityName=".main.MainActivity"/>

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".main.MainActivity"/>

        <activity
            android:name=".timer.EditTimerActivity"
            android:label="@string/title_edit_schedule"
            android:parentActivityName=".timer.TimerListActivity" />

        <activity
            android:name=".tvbrowser.AdvancedScheduleActivity"
            android:theme="@style/Theme.EnigmaBridge.Dialog"
            android:label="@string/title_advanced_schedule"
            android:taskAffinity=""
            android:excludeFromRecents="true"/>

        <activity
            android:name=".about.AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName=".main.MainActivity" />

        <!-- Services -->
        <service
            android:name=".tvbrowser.RecordService"
            android:exported="true"
            android:label="1"
            android:permission="org.tvbrowser.permission.BIND_PLUGIN">
            <intent-filter>
                <action android:name="org.tvbrowser.intent.action.PLUGIN" />
            </intent-filter>
        </service>

        <!-- Broadcast Receivers -->
        <receiver
            android:name=".receiver.TimerCheckReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.SyncTriggerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.github.legandy.enigmabridge.ACTION_TRIGGER_SYNC" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".notifications.RecordingNotificationReceiver"
            android:enabled="true"
            android:exported="false"/>

        <!-- ** THE DEFINITIVE FIX: Disable the default WorkManager initializer ** -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="remove" />

    </application>

    <queries>
        <package android:name="org.tvbrowser.tvbrowser" />
    </queries>

</manifest>